$sm-bp: 25rem;
$lg-bp: 43.75rem;
$xl-bp: 61.5rem;

.wrapper {
    background-color: var(--c-steel-blue);
}

.container {
    max-width: 90rem;
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    color: var(--c-off-white);
    gap: 3rem;

    @media screen and (max-width: $lg-bp) {
        padding: 6rem 4rem;
        flex-direction: column-reverse;
    }

    @media screen and (min-width: $lg-bp) {
        scroll-snap-align: start;
        padding: 7.5rem;

    }

    @media (max-height: 74.9375rem) and (min-width: 43.8125rem) {
        min-height: 100vh;
        height: 100vh;
    }
}

.work-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    ul {
        margin-bottom: 2rem;
    }

    .title {
        display: flex;
        align-items: baseline;
        overflow: hidden;

        h2 {
            text-align: left;
            width: 100%;
            overflow: hidden;
            margin: 1rem 0;
            font-size: 2.5rem;
        }
    }

    p {
        font-size: 1rem;
    }

    .links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 1.5rem 0;
        border-bottom: 1px solid var(--c-off-white);
        font-size: 1rem;

        div {
            position: absolute;
            overflow: hidden;
        }

        .arrow,
        .heading {
            position: relative;
        }

        .show-arrow {
            transform: translateX(0);
        }

        .hide-arrow {
            transform: translateX(-100%);
        }

        .show-heading {
            transform: translateX(1.75rem);
        }

        .hide-heading {
            transform: translateX(0);
        }

        .show-arrow,
        .hide-arrow,
        .show-heading,
        .hide-heading {
            transition: all 500ms ease-in-out;
        }
    }
}

.coding-image {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    transform: scaleX(-1);

    svg {
        width: 30rem;
    }
}