$m-bp: 43.8125rem;
$sm-bp: 25.875rem;
$lg-bp: 43.75rem;

.container {
    width: 100%;
    position: relative;
    background: var(--c-off-white);
    color: var(--c-steel-blue);
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-height: 74.9375rem) and (min-width: 43.8125rem) {
        padding: 7.5rem 0;
        min-height: 100vh;
        height: 100vh;
    }

    @media screen and (min-width: $lg-bp) {
        scroll-snap-align: center;
        padding: 7.5rem 0;
    }
}

.contact {
    width: 70%;
    max-width: 90rem;
    padding: 0 7.5rem;
    text-align: center;

    h4 {
        width: 100%;
        overflow: hidden;
        margin: 1rem 0;
        font-size: 2.5rem;
    }

    p {
        font-size: 1rem;
    }

    @media screen and (max-width: $lg-bp) {
        padding: 6rem 4rem;
        width: 100%;
        flex-direction: column-reverse;
    }
}

.status {
    margin-top: 2rem;
    opacity: 0;
    transition: all 0.5s ease-in-out;

    &-active {
        opacity: 1;
    }
}

.root {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .input-group {
        display: flex;
        flex-direction: column;
        width: 100%;

        &:focus-within label {
            color: var(--c-steel-blue)
        }
    }

    .personal-details {
        width: 100%;
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;

        @media screen and (max-width: $sm-bp) {
            flex-direction: column;
        }
    }

    label {
        text-align: left;
        margin: 1rem 0;
        color: var(--c-lavender);
        opacity: 0.75;
        transition: 0.5s all ease-in-out;

        &+input:focus~& {
            color: var(--c-steel-blue);
        }
    }

    input,
    textarea {
        color: var(--c-lavender);
        background: transparent;
        border-bottom: 1px solid var(--c-lavender);
        border-radius: 0px;

        &:focus {
            outline: none;
            color: var(--c-steel-blue);
            border-bottom: 1px solid var(--c-steel-blue);

            &::placeholder {
                transition: 0.5s all ease-in-out;
                color: transparent;
            }
        }

        &::placeholder {
            color: var(--c-lavender);
        }
    }

    textarea,
    input {
        line-height: 1.5rem;
        padding: 0.6rem;
        padding-left: 0;
    }

    .submit-btn {
        margin-top: 3rem;
        min-width: 24rem;
        padding: 1rem 2rem;
        border: 1px solid var(--c-steel-blue);
        box-shadow: inset 0 0 0 0 var(--c-steel-blue);
        transition: ease-out 0.4s;

        @media screen and (max-width: $sm-bp) {
            min-width: 100%;
        }

        &:hover {
            box-shadow: inset 24rem 0 0 0 var(--c-steel-blue);
            color: var(--c-off-white);
        }

        span {
            margin-right: 0.5rem;
        }

        &:disabled {
            opacity: 0.75;
            border: 1px solid var(--c-lavender);
            color: var(--c-lavender);
            box-shadow: none;
        }
    }
}