$m-bp: 37.5rem;
$sm-bp: 25rem;
$lg-bp: 43.75rem;

.container {
    width: 100%;
    position: relative;
    background: var(--c-off-white);
    color: var(--c-steel-blue);
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: $m-bp) {
        height: 100vh;
    }
}

.contact {
    width: 70%;
    max-width: 90rem;
    padding: 0 7.5rem;
    text-align: center;

    h2 {
        font-weight: 700;
        width: 100%;
        overflow: hidden;
        margin: 1rem 0;
        font-size: 2.5rem;
    }

    p {
        font-size: 1.25rem;
    }

    @media screen and (max-width: $lg-bp) {
        padding: 5rem 4rem;
        width: 100%;
        flex-direction: column-reverse;
    }

    @media screen and (max-width: $sm-bp) {
        padding: 2.5rem 4rem;
    }
}

.root {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .input-group {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .personal-details {
        width: 100%;
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    label {
        text-align: left;
        margin: 1rem 0;
        color: var(--c-lavender);
    }

    input {
        height: 4rem;
        padding: 0 1.25rem;
        border: 1px solid var(--c-lavender);
    }

    .submit-btn {
        margin-top: 3rem;
        min-width: 24rem;
        padding: 1.25em 3em;
        border: 1px solid var(--c-steel-blue);
        background-color: var(--c-neutral-white);
        box-shadow: inset 0 0 0 0 var(--c-steel-blue);
        transition: ease-out 0.4s;

        &:hover {
            box-shadow: inset 24rem 0 0 0 var(--c-steel-blue);
            color: var(--c-off-white);
        }

        span {
            margin-right: 0.5rem;
        }
    }
}