@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Cinzel:wght@400;500;600;700;800;900&family=Fjalla+One&family=Josefin+Sans:wght@100;200;300;400;500&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Lato:wght@100;300;400&family=Nunito:wght@200;300;400;500;600&family=Oswald:wght@400;500;600&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400;500;600;700;800&family=Viga&family=Yeseva+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family-heading: "Syne", serif;
  --font-family-body: "Syne", sans-serif;
  --c-neutral-white: #ffffff;
  --c-neutral-black: #2b303b;
}

html {
  line-height: 1.1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-body);
  color: var(--c-neutral-black);
  scroll-behavior: smooth;
}

.type-heading {
  font-family: var(--font-family-heading);
}

.text-outline {
  text-shadow: -0.5px -0.5px 0 #2b303b,
    0.5px -0.5px 0 #2b303b,
    -1px 1px 0 #2b303b,
    1px 1px 0 #2b303b;
}

.noise {
  position: fixed;
  z-index: 9999;
  top: -300%;
  left: -150%;
  height: 600%;
  width: 600%;
  background: url('../assets/noise.png');
  -webkit-animation: grain 7s steps(10) infinite;
  animation: grain 7s steps(10) infinite;
  background-size: 200px;
  background-repeat: repeat;
  opacity: .25;
  pointer-events: none;
}

.marquee {
  opacity: 0;
  transition: all 100ms;

  &:hover {
    animation: marquee 3s linear infinite;
    opacity: 1;
  }
}

@keyframes marquee {
  0% {
    transform: translate3d(calc(-25% + 1rem), 0, 0);
  }

  100% {
    transform: translate3d(calc(-50% + 1rem), 0, 0);
  }
}

@keyframes grain {

  0%,
  100% {
    transform: translate(0);
  }

  10% {
    transform: translate(-5%, -10%);
  }

  20% {
    transform: translate(-15%, 5%);
  }

  30% {
    transform: translate(7%, -25%);
  }

  40% {
    transform: translate(-5%, 25%);
  }

  50% {
    transform: translate(-15%, 10%);
  }

  60% {
    transform: translate(15%);
  }

  70% {
    transform: translateY(15%);
  }

  80% {
    transform: translate(3%, 35%);
  }

  90% {
    transform: translate(-10%, 10%);
  }
}

.painting {
  background-image: url(../assets/hands.png);
}