$xl-bp: 125rem;

.container {
    margin: 4rem auto;
    max-width: 90rem;
    display: flex;
    justify-content: center;
    padding: 7rem 0;
    position: relative;
    background-color: var(--bg-color);


    @media screen and (max-width: $xl-bp) {
        margin: 4rem 7vw;
    }
}